<link rel="stylesheet" href="/css/user_profile.css">
        <h1>
            Codeial / Profile Page
        </h1>
        <%if(user.id==Profile_user.id){%>
          <!-if user matches then show the form->
          <form action="/users/update/<%-profile_user.id%>" method="post" enctype="multipart/form-data">
            <input type="text" name="name" placeholder="Your Name" value="<%=Profile_user.name%>"required>
            <input type="email" name="email" placeholder="Your email" value="<%=Profile_user.email%>"required>
            <input type="file" name="avatar" />
         <input type="submit" value="update">
          </form>
      <% }%> else{%>
        <p><%= user.name %></p>
        <p><%= user.email %></p>
    <%}%>
      

       
